## Use this configuration file to setup your preferred options
[file-io]
## Input file name
## Default: Cinemaniac.bak
input = Cinemaniac.bak
## Output file name for watched movies
## Default: watched_movies.csv
watched = watched_movies.csv
## Output file name for watchlist movies
## Default: watchlist.csv
watchlist = watchlist.csv

[options]
## The date saved in Cinemaniac entries is not the watch date, but the addition date (when it was added to the app)
## If you want to populate your diary nonthereless you can use the addition date as watchdate
## If this is false it will just save the entries as watched without diary entry
## Default: False
use_save_date_as_diary = False
## After a specific application update some add dates got corrupted
## If you got this problem and you want to add the entries to you diary you can selecta a random date in a specified range
## Default: False
random_date_if_invalid = False
## If the saved date is smaller than this randomize it
## Format used is Linux Timestamp -> If want to from specific date use https://www.epochconverter.com/ or similar
## Default: 1420070400000
random_is_invalid_if_smaller = 1420070400000
## Lower bound for randomized date
## Default: 1420070400000
random_lower_date = 1420070400000
## Upper bound for randomized date
## Default: 1582070400000
random_upper_date = 1582070400000


